body {
  background-image: url("images/Background2.png");
  background-size: cover;
  max-width: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.664);
}

.home {
  display: flex;
  float: left;
}

li a {
  float: right;
  display: block;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: aliceblue;
  text-align: center;
  padding: 25px 35px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(0, 0, 0);
}

.virsraksts{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 6%;
  text-align: center;
}

.vizitkare_virsraksts {
  position: relative;
  font-size: 50px;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.vards_uzvards {
  position: relative;
  font-size: 35px;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.logi {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5%;
  text-align: center;
  justify-content: center;
}

.logs1 {
  position: relative;
  margin-right: 5%;
  height: 300px;
  width: 350px;
  border: 2px solid;
  background-color: rgba(0, 0, 0, 0.664);
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
}

.gmail_logo {
  position: relative;
  width: 110px;
  height: 110px;
}

.uzrakstiet_man {
  position: relative;
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.apraksts1 {
  position: relative;
  font-size: 20px;
  color: rgb(154, 160, 165);
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 rgb(34, 32, 32), 1px -1px 0 rgb(34, 32, 32), -1px 1px 0 rgb(34, 32, 32), 1px 1px 0 rgb(34, 32, 32);
}

.gmail {
  position: relative;
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.logs2 {
  position: relative;
  height: 300px;
  width: 350px;
  border: 2px solid;
  background-color: rgba(0, 0, 0, 0.664);
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
}

.vietas_logo {
  position: relative;
  width: 110px;
  height: 110px;
}

.atrasanas_vieta {
  position: relative;
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.apraksts2 {
  position: relative;
  font-size: 20px;
  color: rgb(154, 160, 165);
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 rgb(34, 32, 32), 1px -1px 0 rgb(34, 32, 32), -1px 1px 0 rgb(34, 32, 32), 1px 1px 0 rgb(34, 32, 32);
}

.rvt_majaslapa {
  position: relative;
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: none;
}

.logs3 {
  margin-left: 5%;
  position: relative;
  height: 300px;
  width: 350px;
  border: 2px solid;
  background-color: rgba(0, 0, 0, 0.664);
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
}

.telefona_logo {
  position: relative;
  width: 110px;
  height: 110px;
}

.sazinaties {
  position: relative;
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.apraksts3 {
  position: relative;
  font-size: 20px;
  color: rgb(154, 160, 165);
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 rgb(34, 32, 32), 1px -1px 0 rgb(34, 32, 32), -1px 1px 0 rgb(34, 32, 32), 1px 1px 0 rgb(34, 32, 32);
}

.telefona_numurs {
  position: relative;
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.manas_soc_medijas {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 3%;
  text-align: center;
}

.medijas_info {
  position: relative;
  font-size: 30px;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.soc_medijas{
  position: relative;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.instagram {
  position: relative;
  margin-right: 3%;
  margin-top: 2%;
}

.instagram_logo {
  width: 80px;
  height: 80px;
}

.instagram_teksts {
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: none;
  color: aliceblue;
}

.facebook {
  position: relative;
  margin-top: 2%;
}

.facebook_logo {
  width: 80px;
  height: 80px;
}

.facebook_teksts {
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: none;
  color: aliceblue;
}

.github {
  position: relative;
  margin-left: 3%;
  margin-top: 2%;
}

.github_logo {
  width: 80px;
  height: 80px;
}

.github_teksts {
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: none;
  color: aliceblue;
}