body {
    background-image: url("images/Background2.png");
    background-size: cover;
    max-width: 100%;
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.664);
  }
  
  .home {
    display: flex;
    float: left;
  }
  
  li a {
    float: right;
    display: block;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: aliceblue;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(0, 0, 0);
  }